This is a mini lecture created by Yang about the lambda function. If you see the lambda function in lecture 105 and you need a few more examples, please read this notebook. No submission is needed.

## Lambda function

Syntax -

`lambda arguments:expression`

In [1]:
double = lambda x:x*2  # this is a tiny lambda function, we name it `double`

In [2]:
double(5)  #it should return 10

10

In [3]:
addition = lambda x, y:x+y # this another example - this lambda function takes two values, and add them together
addition(10,12)

22

In [4]:
addition(10,12, 25) # Dang! doesn't work, why? This lambda function takes two parameters. ;-(

TypeError: <lambda>() takes 2 positional arguments but 3 were given

## Map() function
Apply a function to *all* the elemenets in a sequence (can be python list, or other sequential types, like string, tuple)

`map(func, seq)`

In [5]:
# Remember we have the double() function?
double(99)

198

In [6]:
# mapping the double() function to a list
my_list = [77, 12, 1.1]
map(double, my_list)

# we have a map object, we have to turn it(force it) into a python list

In [7]:
list(map(double, my_list)) # all values double! =D

[154, 24, 2.2]

## Lambda as "unnamed" function

How about we want to increase all the values by 50%, then, we don't bother to give this function a name?

In [9]:
my_list = [77, 12, 1.1]
list(map(lambda x:1.5*x, my_list))  # show time - "one-line" magic

[115.5, 18.0, 1.6500000000000001]

In [10]:
# The code above is equivalent to the code below
# no one will laugh at you if you do this version, but some geek do the "one-line" style.
def increase_by_50(x):
  return x*1.5
list(map(increase_by_50, my_list))

[115.5, 18.0, 1.6500000000000001]